/*
 * MailSlurp API
 *
 * MailSlurp is an API for sending and receiving emails from dynamically allocated email addresses. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.   ## Resources - [Homepage](https://www.mailslurp.com) - Get an [API KEY](https://app.mailslurp.com/sign-up/) - Generated [SDK Clients](https://www.mailslurp.com/docs/) - [Examples](https://github.com/mailslurp/examples) repository 
 *
 * The version of the OpenAPI document: 6.5.2
 * 
 * Generated by: https://openapi-generator.tech
 */

use std::rc::Rc;
use std::borrow::Borrow;
#[allow(unused_imports)]
use std::option::Option;

use hyper;
use serde_json;
use futures::Future;

use super::{Error, configuration};
use super::request as __internal_request;

pub struct DomainControllerApiClient<C: hyper::client::Connect> {
    configuration: Rc<configuration::Configuration<C>>,
}

impl<C: hyper::client::Connect> DomainControllerApiClient<C> {
    pub fn new(configuration: Rc<configuration::Configuration<C>>) -> DomainControllerApiClient<C> {
        DomainControllerApiClient {
            configuration,
        }
    }
}

pub trait DomainControllerApi {
    fn add_domain_wildcard_catch_all(&self, id: &str) -> Box<dyn Future<Item = crate::models::DomainDto, Error = Error<serde_json::Value>>>;
    fn create_domain(&self, domain_options: crate::models::CreateDomainOptions) -> Box<dyn Future<Item = crate::models::DomainDto, Error = Error<serde_json::Value>>>;
    fn delete_domain(&self, id: &str) -> Box<dyn Future<Item = Vec<String>, Error = Error<serde_json::Value>>>;
    fn get_domain(&self, id: &str) -> Box<dyn Future<Item = crate::models::DomainDto, Error = Error<serde_json::Value>>>;
    fn get_domains(&self, ) -> Box<dyn Future<Item = Vec<crate::models::DomainPreview>, Error = Error<serde_json::Value>>>;
    fn update_domain(&self, id: &str, update_domain_dto: crate::models::UpdateDomainOptions) -> Box<dyn Future<Item = crate::models::DomainDto, Error = Error<serde_json::Value>>>;
}

impl<C: hyper::client::Connect>DomainControllerApi for DomainControllerApiClient<C> {
    fn add_domain_wildcard_catch_all(&self, id: &str) -> Box<dyn Future<Item = crate::models::DomainDto, Error = Error<serde_json::Value>>> {
        let mut req = __internal_request::Request::new(hyper::Method::Post, "/domains/{id}/wildcard".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: true,
                in_query: false,
                param_name: "x-api-key".to_owned(),
            }))
        ;
        req = req.with_path_param("id".to_string(), id.to_string());

        req.execute(self.configuration.borrow())
    }

    fn create_domain(&self, domain_options: crate::models::CreateDomainOptions) -> Box<dyn Future<Item = crate::models::DomainDto, Error = Error<serde_json::Value>>> {
        let mut req = __internal_request::Request::new(hyper::Method::Post, "/domains".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: true,
                in_query: false,
                param_name: "x-api-key".to_owned(),
            }))
        ;
        req = req.with_body_param(domain_options);

        req.execute(self.configuration.borrow())
    }

    fn delete_domain(&self, id: &str) -> Box<dyn Future<Item = Vec<String>, Error = Error<serde_json::Value>>> {
        let mut req = __internal_request::Request::new(hyper::Method::Delete, "/domains/{id}".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: true,
                in_query: false,
                param_name: "x-api-key".to_owned(),
            }))
        ;
        req = req.with_path_param("id".to_string(), id.to_string());

        req.execute(self.configuration.borrow())
    }

    fn get_domain(&self, id: &str) -> Box<dyn Future<Item = crate::models::DomainDto, Error = Error<serde_json::Value>>> {
        let mut req = __internal_request::Request::new(hyper::Method::Get, "/domains/{id}".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: true,
                in_query: false,
                param_name: "x-api-key".to_owned(),
            }))
        ;
        req = req.with_path_param("id".to_string(), id.to_string());

        req.execute(self.configuration.borrow())
    }

    fn get_domains(&self, ) -> Box<dyn Future<Item = Vec<crate::models::DomainPreview>, Error = Error<serde_json::Value>>> {
        let mut req = __internal_request::Request::new(hyper::Method::Get, "/domains".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: true,
                in_query: false,
                param_name: "x-api-key".to_owned(),
            }))
        ;

        req.execute(self.configuration.borrow())
    }

    fn update_domain(&self, id: &str, update_domain_dto: crate::models::UpdateDomainOptions) -> Box<dyn Future<Item = crate::models::DomainDto, Error = Error<serde_json::Value>>> {
        let mut req = __internal_request::Request::new(hyper::Method::Put, "/domains/{id}".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: true,
                in_query: false,
                param_name: "x-api-key".to_owned(),
            }))
        ;
        req = req.with_path_param("id".to_string(), id.to_string());
        req = req.with_body_param(update_domain_dto);

        req.execute(self.configuration.borrow())
    }

}
