/*
 * MailSlurp API
 *
 * MailSlurp is an API for sending and receiving emails from dynamically allocated email addresses. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.   ## Resources - [Homepage](https://www.mailslurp.com) - Get an [API KEY](https://app.mailslurp.com/sign-up/) - Generated [SDK Clients](https://www.mailslurp.com/docs/) - [Examples](https://github.com/mailslurp/examples) repository 
 *
 * The version of the OpenAPI document: 6.5.2
 * 
 * Generated by: https://openapi-generator.tech
 */

use std::rc::Rc;
use std::borrow::Borrow;
#[allow(unused_imports)]
use std::option::Option;

use hyper;
use serde_json;
use futures::Future;

use super::{Error, configuration};
use super::request as __internal_request;

pub struct ExpiredControllerApiClient<C: hyper::client::Connect> {
    configuration: Rc<configuration::Configuration<C>>,
}

impl<C: hyper::client::Connect> ExpiredControllerApiClient<C> {
    pub fn new(configuration: Rc<configuration::Configuration<C>>) -> ExpiredControllerApiClient<C> {
        ExpiredControllerApiClient {
            configuration,
        }
    }
}

pub trait ExpiredControllerApi {
    fn get_expiration_defaults(&self, ) -> Box<dyn Future<Item = crate::models::ExpirationDefaults, Error = Error<serde_json::Value>>>;
    fn get_expired_inbox_by_inbox_id(&self, inbox_id: &str) -> Box<dyn Future<Item = crate::models::ExpiredInboxDto, Error = Error<serde_json::Value>>>;
    fn get_expired_inbox_record(&self, expired_id: &str) -> Box<dyn Future<Item = crate::models::ExpiredInboxDto, Error = Error<serde_json::Value>>>;
    fn get_expired_inboxes(&self, page: Option<i32>, size: Option<i32>, sort: Option<&str>) -> Box<dyn Future<Item = crate::models::PageExpiredInboxRecordProjection, Error = Error<serde_json::Value>>>;
}

impl<C: hyper::client::Connect>ExpiredControllerApi for ExpiredControllerApiClient<C> {
    fn get_expiration_defaults(&self, ) -> Box<dyn Future<Item = crate::models::ExpirationDefaults, Error = Error<serde_json::Value>>> {
        let mut req = __internal_request::Request::new(hyper::Method::Get, "/expired/defaults".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: true,
                in_query: false,
                param_name: "x-api-key".to_owned(),
            }))
        ;

        req.execute(self.configuration.borrow())
    }

    fn get_expired_inbox_by_inbox_id(&self, inbox_id: &str) -> Box<dyn Future<Item = crate::models::ExpiredInboxDto, Error = Error<serde_json::Value>>> {
        let mut req = __internal_request::Request::new(hyper::Method::Get, "/expired/inbox/{inboxId}".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: true,
                in_query: false,
                param_name: "x-api-key".to_owned(),
            }))
        ;
        req = req.with_path_param("inboxId".to_string(), inbox_id.to_string());

        req.execute(self.configuration.borrow())
    }

    fn get_expired_inbox_record(&self, expired_id: &str) -> Box<dyn Future<Item = crate::models::ExpiredInboxDto, Error = Error<serde_json::Value>>> {
        let mut req = __internal_request::Request::new(hyper::Method::Get, "/expired/{expiredId}".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: true,
                in_query: false,
                param_name: "x-api-key".to_owned(),
            }))
        ;
        req = req.with_path_param("expiredId".to_string(), expired_id.to_string());

        req.execute(self.configuration.borrow())
    }

    fn get_expired_inboxes(&self, page: Option<i32>, size: Option<i32>, sort: Option<&str>) -> Box<dyn Future<Item = crate::models::PageExpiredInboxRecordProjection, Error = Error<serde_json::Value>>> {
        let mut req = __internal_request::Request::new(hyper::Method::Get, "/expired".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: true,
                in_query: false,
                param_name: "x-api-key".to_owned(),
            }))
        ;
        if let Some(ref s) = page {
            req = req.with_query_param("page".to_string(), s.to_string());
        }
        if let Some(ref s) = size {
            req = req.with_query_param("size".to_string(), s.to_string());
        }
        if let Some(ref s) = sort {
            req = req.with_query_param("sort".to_string(), s.to_string());
        }

        req.execute(self.configuration.borrow())
    }

}
